.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;

  .chat-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #004085;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

   img {
         width: 50px;
         height: 50px;
         object-fit: contain;
       }
  }

  .chat-box {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
  }

  .chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  }

  .chat-input button {
    padding: 8px 12px;
    background-color: #004085;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .chat-input button:hover {
    background-color: #003366;
  }


  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
.chat-content {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.message {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  word-wrap: break-word;
}
}
