<nav class="navbar">
    <div class="navbar-left">
      <img src="assets/MELogo.png" alt="Mighty Elephants Logo" class="logo" />
      <span class="company-name">Mighty Elephants</span>
    </div>
    <div class="navbar-right">
      <a routerLink="live-tracking"><span class="nav-link">Tracking</span></a>
      <span class="nav-link">About</span>

        <!-- Show Sign In button if the user is not signed in -->
      <button *ngIf="!isSignedIn" class="sign-in-btn" (click)="openSignInModal()">Sign In</button>

      <!-- Show user info and Sign Out button if the user is signed in -->
      <div *ngIf="isSignedIn" class="user-info">
        <span class="nav-welcome">Welcome, <b>{{ userName }}</b></span>
        <button class="sign-out-btn" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </nav>
  